# Day 11 Sets

## Creating a sets

In [2]:
a = {"Ball", "Cat", "Dog", "Elephant", "Animals"}
print(a)
print(type(a))

{'Dog', 'Animals', 'Elephant', 'Ball', 'Cat'}
<class 'set'>

## Agr Set order hota to Output continue print hota is ye pta chlta hai ki set unorderd hota hai

# Set items are Unorderd

In [4]:
a = {"Ball", "Cat", "Dog", "Elephant", "Animals"}
print(a[0])

TypeError: 'set' object is not subscriptable

## Dublicates are not allowed

In [5]:
a = {"Ball", "Cat", "Dog", "Elephant", "Cat", "Dog", "Elephant","Cat", "Dog", "Elephant", "Animals"}
print(a)

{'Dog', 'Animals', 'Elephant', 'Ball', 'Cat'}

## True and One is consider in the same values

In [7]:
a = {"Ball", "Cat", "Dog", "true", 0, 1, 2, "Elephant", "Animals"}
print(a)

{0, 1, 2, 'false', 'Elephant', 'Ball', 'Animals', 'Dog', 'true', 'Cat'}

## Get a length of a set

In [12]:
a = {"Ball", "Cat", "Dog", "True", "False", 0, 1, 2, "Cat", "Dog", "Elephant","Cat", "Elephant", "Animals"}
print(a)
print(len(a))

{0, 'False', 2, 1, 'True', 'Animals', 'Elephant', 'Ball', 'Dog', 'Cat'}
10

## Set items - Data Types

In [14]:
x1 = {True, False, True, False}
x2 = {"x", "Y", "z"}
x3 = {22.5, 44.2, 77.4}
x4 = {11, 33, 55, 66}
print(x1, x2, x3, x4)

{False, True} {'z', 'x', 'Y'} {44.2, 77.4, 22.5} {33, 66, 11, 55}

## Means set all Data type accept karta hai Bolean, Floating, String and Integer

# Ek set me sabhi data types merge

In [15]:
m = {1, 4, -7, 3.1, 8.3, 5+10j, "Mango", True}
print(m)

{1, 3.1, 4, (5+10j), 8.3, -7, 'Mango'}

# Set Constructor

In [17]:
thisset = set(("Alpha", "Beta", "Gamma"))
print(thisset)
print(type(thisset))

{'Beta', 'Gamma', 'Alpha'}
<class 'set'>

# Creating Empty Set

In [20]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [24]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Access Items

In [25]:
a = {"a", "b", "c", "d"}

for x in a:
    print(x)

c
d
b
a

## Check if items present in the set

In [26]:
# Define a set
my_set = {"apple", "banana", "cherry", "mango"}

# Ask the user to enter an item
item = input("Enter the item to check: ")

# Check if the item is in the set
if item in my_set:
    print(f"Yes, '{item}' is present in the set.")
else:
    print(f"No, '{item}' is not present in the set.")

Enter the item to check:  cherry

Yes, 'cherry' is present in the set.

## Another way

In [27]:
a = {"Ankit", "Apple", "Mango"}
print("Ankit" in a)

True

In [29]:
a = {"Ankit", "Apple", "Mango"}
print("cherry" in a)

False

# Add item in set

In [30]:
a = {"a", "b", "c", "d"}
a.add(44)
print(a)

{'d', 'b', 44, 'c', 'a'}

In [32]:
x = {"data", "python", "code"}
y = {5, 7, 9, 4, 2}

x.update(y)
print(x)
print(len(x))

{2, 4, 'python', 5, 7, 9, 'code', 'data'}
8

## Remove item in set

In [36]:
n = {2, 4, 'python', 5, 7, 9, 'code', 'data'}

n.remove(2)
n.remove('code')

print(n)
print(len(n))

{4, 5, 'python', 7, 9, 'data'}
6

In [39]:
m = {2, 4, 'python', 5, 7, 9, 'code', 'data'}

m.pop()
print(m)

{4, 5, 'python', 7, 9, 'code', 'data'}

In [40]:
n = {2, 4, 'python', 5, 7, 9, 'code', 'data'}

n.clear()
print(n)

set()

# join two Sets

In [45]:
X = {"a", "b", "c"}
Y = {1, 2, 3}
Z = X.union(Y)
print(Z)

{1, 2, 3, 'b', 'c', 'a'}

# Write a python Program to find the max and minimum values in set

In [46]:
# Define a set
my_set = {12, 45, 7, 89, 23, 67}

# Find the maximum and minimum values
max_val = max(my_set)
min_val = min(my_set)

# Print the results
print("Set:", my_set)
print("Maximum value:", max_val)
print("Minimum value:", min_val)

Set: {67, 23, 7, 89, 12, 45}
Maximum value: 89
Minimum value: 7

# another way

In [50]:
my_set = {12, 45, 7, 89, 23, 67}
print("Original Set Element")
print(my_set)
print("Max value of the set is: ")
print(max(my_set))
print("Min value of the set is: ")
print(min(my_set))

Original Set Element
{67, 23, 7, 89, 12, 45}
Max value of the set is:
89
Min value of the set is:
7

In [51]:
my_set = {12, 45, 7, 89, 23, 67}

print("Original Set Elements:")
print(my_set)

print("Max value of the set is:", max(my_set))
print("Min value of the set is:", min(my_set))

Original Set Elements:
{67, 23, 7, 89, 12, 45}
Max value of the set is: 89
Min value of the set is: 7

# Python program that returns a new set containing identical (common) items from two sets using the intersection method

In [52]:
# Define two sets
set1 = {"apple", "banana", "cherry", "mango"}
set2 = {"banana", "kiwi", "mango", "grapes"}

# Find identical items (common elements)
common_items = set1.intersection(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Common items in both sets:", common_items)

Set 1: {'cherry', 'apple', 'mango', 'banana'}
Set 2: {'grapes', 'kiwi', 'mango', 'banana'}
Common items in both sets: {'mango', 'banana'}

In [53]:
# Define two sets of numbers
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 60, 70, 80}

# Find identical items (intersection)
common_items = set1.intersection(set2)

# Display the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Common items in both sets:", common_items)

Set 1: {50, 20, 40, 10, 30}
Set 2: {80, 70, 40, 60, 30}
Common items in both sets: {40, 30}

# To find length, min, maximum and how to change a set-in list and tuple

In [54]:
# Define a set
my_set = {25, 10, 5, 80, 45}

# Print original set
print("Original Set:", my_set)

# Find length, min, and max
print("Length of the set:", len(my_set))
print("Minimum value in the set:", min(my_set))
print("Maximum value in the set:", max(my_set))

# Convert set to list
my_list = list(my_set)
print("Set converted to List:", my_list)

# Convert set to tuple
my_tuple = tuple(my_set)
print("Set converted to Tuple:", my_tuple)

Original Set: {80, 5, 25, 10, 45}
Length of the set: 5
Minimum value in the set: 5
Maximum value in the set: 80
Set converted to List: [80, 5, 25, 10, 45]
Set converted to Tuple: (80, 5, 25, 10, 45)