# List in Python

In [2]:
a = [1,2,3,4,5,6]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [3]:
b = [ "hello", 1, True, 3.5]
print(b)
print(type(b))

['hello', 1, True, 3.5]
<class 'list'>

# Empty list

In [4]:
b = [ ]
print(b)
print(type(b))

[]
<class 'list'>

# List Constructor

In [6]:
a = list((1,2,3,4,5,6))
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6]
<class 'list'>

# Properties of List

# 1. Ordered

In [11]:
fruits = ["Apple", "Mango", "Orange"]
print(fruits[0]) 
print(fruits[1])
print(fruits[2])

Apple
Mango
Orange

# 2. Heterogeneous

Lists can contain elements of different data types, such as integers, strings, and even other lists.

In [13]:
b = [ "hello", 1, True, 3.5]
print(b[0])
print(b[1])
print(b[2])
print(b[3])

hello
1
True
3.5

# 3. Indexed

Elements in a list can be accessed by their index, which start at 0. You can also use negative indices to access element from the end of the list

In [22]:
# Example List
animals = ["Cat", "Dog", "Horse", "Elephant", "Cow"]

print('Accessing elements by index')
print(animals[0])
print(animals[1])

print('Accessing elements with negative index:')
print(animals[-1])
print(animals[-2])

Accessing elements by index
Cat
Dog
Accessing elements with negative index:
Cow
Elephant

# Slicing of list

In [24]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
subset = numbers[1:5]
print(subset)

[11, 12, 13, 14]

In [28]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
# Jaha tak mujhe slicing ki values chahey us ek aage ka index dena hota hai. JAISE yha mujhe 10th index chahey tha to 11 index diya hu
subset = numbers[0:11:2]
print(subset)

[10, 12, 14, 16, 18, 20]

# Using Negative Indeces

In [29]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
subset = numbers[-5:]
print(subset)

[16, 17, 18, 19, 20]

# Reverse in list

In [37]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
numbers.reverse()
print(numbers)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [32]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Reverse the list using slicing
reversed_numbers = numbers[::-1]

print(reversed_numbers)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

# List Methods

# List length

In [36]:
a = [1,2,3,4,5,6, "Fruits", True, False, -77]
print(len(a))

10

# Mutability properties of lists

# Changing Elements

In [38]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
numbers[3] = 1000
print(numbers)

[10, 11, 12, 1000, 14, 15, 16, 17, 18, 19, 20]

# Change a Range of Item Value

In [39]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
numbers[2:4] = ["Books", "Pen", "Copy"] 
print(numbers)

[10, 11, 'Books', 'Pen', 'Copy', 14, 15, 16, 17, 18, 19, 20]

# add list items

In [40]:
thislist = ["Apple", "Banana", "Cherry"]
thislist.append("Orange")
print(thislist)

['Apple', 'Banana', 'Cherry', 'Orange']

# Remove List Items

In [41]:
thislist = ["Apple", "Banana", "Cherry"]
thislist.remove("Banana")
print(thislist)

['Apple', 'Cherry']

# Join List

In [44]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

list4 = list2 + list1
print(list4)

['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 'a', 'b', 'c']

# Check if a list contains an element

In [45]:
li = [1, 2, 3, 'a', 'b', 'c']
'a' in li

True

In [46]:
li = [1, 2, 3, 'a', 'b', 'c']
'4' in li

False

# Practice Questions

Data Analysis Scenario: 
You have two lists containing exam score 
of students from two different classes. 
The lists are class1_scores & class2_scores.
You need to analyze the performance 
of the classess by calculating the average score for each class.

Write Python code to calculate the average score for each class.

In [48]:
# Exam scores of two different classes
class1_scores = [85, 90, 78, 92, 88, 76, 95, 89, 84, 91]
class2_scores = [80, 85, 88, 90, 79, 84, 87, 92, 86, 83]

# Function to calculate the average score
def calculate_average(scores):
    return sum(scores) / len(scores)

# Calculate averages
average_class1 = calculate_average(class1_scores)
average_class2 = calculate_average(class2_scores)

# Print the results
print(f"Average score of Class 1: {average_class1:.2f}")
print(f"Average score of Class 2: {average_class2:.2f}")

Average score of Class 1: 86.80
Average score of Class 2: 85.40

In [49]:
# Give lists of exam scores for two classes
class1_scores = [85, 90, 88, 92, 78]
class2_scores = [75, 82, 80, 85, 79]

# Calculate the average score for class 1
class1_average = sum(class1_scores) / len(class1_scores)

# Calculate the average score for class 2
class2_average = sum(class2_scores) / len(class2_scores)

# Print the average scores for each class 
print("Average score for Class 1: ", class1_average)
print("Average score for Class 2: ", class2_average)

Average score for Class 1:  86.6
Average score for Class 2:  80.2

Question: Given the list number = [1, 2, 3, 4, 5, 6, 7, 8, ,9, 10]
Write a Python Expression to: 
Create a new list with the first half  and the second half swapped.
Print the sum of the last 3 elements.

In [50]:
# Given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Finding the midpoint
mid = len(numbers) // 2  

# Swapping the first and second halves
swapped_list = numbers[mid:] + numbers[:mid]

# Calculating the sum of the last three elements
sum_last_three = sum(swapped_list[-3:])

# Printing results
print("Swapped List:", swapped_list)
print("Sum of last 3 elements:", sum_last_three)

Swapped List: [6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
Sum of last 3 elements: 12

In [52]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

half_length = len(numbers) // 
swapped_list = numbers[half_length:] + numbers[:half_length]

print(swapped_list)

# Print the sum of the last three elements

sum_last_three = sum(numbers[-3:])
print(sum_last_three)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
27

In [53]:
# Find the second largest number in a List

def second_largest(numbers):
    unique_numbers = list(set(numbers))  # Remove duplicates
    unique_numbers.sort(reverse=True)  # Sort in descending order
    return unique_numbers[1] if len(unique_numbers) > 1 else None  # Return second largest

# Example list
numbers = [10, 20, 4, 45, 99, 99, 45, 8]

# Find and print the second largest number
result = second_largest(numbers)
print("Second largest number:", result)

Second largest number: 45

Task: Data Cleaning 
You have a list responses containing response 
from a survey. However, some response are recoded 
as a empty string due to data entry errors. 
Your task is to remivw these empty responses from the list.

Write python code to remove all empty responsliste

In [1]:
# Example list of responses (some are empty strings)
responses = ["Yes", "", "No", "Maybe", "", "Yes", ""]

# Remove empty strings from the list
cleaned_responses = [response for response in responses if response != ""]

# Print the cleaned list
print("Cleaned Responses:", cleaned_responses)

Cleaned Responses: ['Yes', 'No', 'Maybe', 'Yes']

In [2]:
# List containing survey responses (some are empty strings)
responses = ["Yes", "", "No", "Maybe", "", "Yes", "", ""]

# Remove all empty responses
cleaned_responses = [response for response in responses if response != ""]

# Print cleaned list
print("Cleaned Responses:", cleaned_responses)

Cleaned Responses: ['Yes', 'No', 'Maybe', 'Yes']

1. Health and fitness tracking 
Lists can sore daily health metrics such as step count, heart rate and calories burned.

In [3]:
# Daily health data for a week (7 days)
step_count = [7500, 10200, 8700, 9500, 10000, 12000, 11000]
heart_rate = [72, 75, 70, 68, 74, 76, 73]
calories_burned = [220, 300, 270, 250, 310, 330, 295]

# Calculate average for each metric
avg_steps = sum(step_count) / len(step_count)
avg_heart_rate = sum(heart_rate) / len(heart_rate)
avg_calories = sum(calories_burned) / len(calories_burned)

# Print the results
print(f"Average Step Count: {avg_steps:.0f}")
print(f"Average Heart Rate: {avg_heart_rate:.1f} bpm")
print(f"Average Calories Burned: {avg_calories:.0f} kcal")

Average Step Count: 9843
Average Heart Rate: 72.6 bpm
Average Calories Burned: 282 kcal

# Same Question step count, heart rate and calories taken by users.

In [4]:
# Initialize empty lists
step_count = []
heart_rate = []
calories_burned = []

# Collect data for 7 days
for i in range(1, 8):
    print(f"\nDay {i}")
    steps = int(input("Enter step count: "))
    heart = int(input("Enter heart rate: "))
    calories = int(input("Enter calories burned: "))
    
    step_count.append(steps)
    heart_rate.append(heart)
    calories_burned.append(calories)

# Calculate averages
avg_steps = sum(step_count) / 7
avg_heart_rate = sum(heart_rate) / 7
avg_calories = sum(calories_burned) / 7

# Display results
print("\n--- Weekly Health Summary ---")
print(f"Average Step Count: {avg_steps:.0f}")
print(f"Average Heart Rate: {avg_heart_rate:.1f} bpm")
print(f"Average Calories Burned: {avg_calories:.0f} kcal")

Day 1

Enter step count:  6789
Enter heart rate:  5677
Enter calories burned:  5763

Day 2

Enter step count:  7355
Enter heart rate:  4455
Enter calories burned:  4455

Day 3

Enter step count:  8576
Enter heart rate:  5566
Enter calories burned:  2344

Day 4

Enter step count:  6345
Enter heart rate:  6776
Enter calories burned:  3767

Day 5

Enter step count:  3454
Enter heart rate:  4566
Enter calories burned:  7745

Day 6

Enter step count:  4566
Enter heart rate:  4567
Enter calories burned:  3265

Day 7

Enter step count:  9856
Enter heart rate:  8267
Enter calories burned:  2566

--- Weekly Health Summary ---
Average Step Count: 6706
Average Heart Rate: 5696.3 bpm
Average Calories Burned: 4272 kcal

2. Financial Management 
Lists can manage daily expenses and track spending pattern

In [8]:
### Initialize an empty list to store daily expenses
expenses = []

# Take input for 7 days
for i in range(1, 3):
    amount = float(input(f"Enter expense for Day {i}: ₹"))
    expenses.append(amount)

# Financial summary
total_spent = sum(expenses)
average_spent = total_spent / 7
highest_spent = max(expenses)
lowest_spent = min(expenses)
day_highest = expenses.index(highest_spent) + 1
day_lowest = expenses.index(lowest_spent) + 1

# Display the results
print("\n--- Weekly Financial Summary ---")
print(f"Total Spent: ₹{total_spent:.2f}")
print(f"Average Daily Expense: ₹{average_spent:.2f}")
print(f"Highest Spending: ₹{highest_spent:.2f} on Day {day_highest}")
print(f"Lowest Spending: ₹{lowest_spent:.2f} on Day {day_lowest}")

Enter expense for Day 1: ₹ 254
Enter expense for Day 2: ₹ 345

--- Weekly Financial Summary ---
Total Spent: ₹599.00
Average Daily Expense: ₹85.57
Highest Spending: ₹345.00 on Day 2
Lowest Spending: ₹254.00 on Day 1

3. Weather Monitoring 
Lists can store daily weather data such as temperature, humidity and precipitation

In [10]:
# Initialize empty lists for weather data
temperature = []
humidity = []
precipitation = []

# Collect weather data for 7 days
for i in range(1, 8):
    print(f"\nDay {i}")
    temp = float(input("Enter temperature (°C): "))
    hum = float(input("Enter humidity (%): "))
    rain = float(input("Enter precipitation (mm): "))
    
    temperature.append(temp)
    humidity.append(hum)
    precipitation.append(rain)

# Calculate averages
avg_temp = sum(temperature) / 7
avg_humidity = sum(humidity) / 7
total_rain = sum(precipitation)

# Display weather summary
print("\n--- Weekly Weather Summary ---")
print(f"Average Temperature: {avg_temp:.1f}°C")
print(f"Average Humidity: {avg_humidity:.1f}%")
print(f"Total Precipitation: {total_rain:.1f} mm")

Day 1

Enter temperature (°C):  45
Enter humidity (%):  67
Enter precipitation (mm):  88

Day 2

Enter temperature (°C):  34
Enter humidity (%):  34
Enter precipitation (mm):  56

Day 3

Enter temperature (°C):  57
Enter humidity (%):  76
Enter precipitation (mm):  88

Day 4

Enter temperature (°C):  97
Enter humidity (%):  96
Enter precipitation (mm):  68

Day 5

Enter temperature (°C):  567
Enter humidity (%):  57
Enter precipitation (mm):  54

Day 6

Enter temperature (°C):  45
Enter humidity (%):  54
Enter precipitation (mm):  54

Day 7

Enter temperature (°C):  57
Enter humidity (%):  74
Enter precipitation (mm):  53

--- Weekly Weather Summary ---
Average Temperature: 128.9°C
Average Humidity: 65.4%
Total Precipitation: 461.0 mm

4. Education 
Lists can help track student's grade and attendence.

In [14]:
##### Initialize empty lists
student_names = []
grades = []
attendance = []

# Input data for 5 students
for i in range(1, 3):
    print(f"\nStudent {i}")
    name = input("Enter student name: ")
    grade = float(input("Enter grade (out of 100): "))
    attend = float(input("Enter attendance percentage: "))
    
    student_names.append(name)
    grades.append(grade)
    attendance.append(attend)

# Calculate class average
avg_grade = sum(grades) / len(grades)
avg_attendance = sum(attendance) / len(attendance)

# Find top performer
top_index = grades.index(max(grades))
top_student = student_names[top_index]

# Display summary
print("\n--- Class Summary ---")
print(f"Average Grade: {avg_grade:.2f}")
print(f"Average Attendance: {avg_attendance:.2f}%")
print(f"Top Performer: {top_student} with {grades[top_index]} marks")

Student 1

Enter student name:  Ankit Tiwari
Enter grade (out of 100):  99.11
Enter attendance percentage:  89.22

Student 2

Enter student name:  Ramesh
Enter grade (out of 100):  67.88
Enter attendance percentage:  88.33

--- Class Summary ---
Average Grade: 83.50
Average Attendance: 88.78%
Top Performer: Ankit Tiwari with 99.11 marks

5. Shopping and Inventory Management
Lists can keep track of items to buy and manage inventory.

In [15]:
# Initialize empty lists
items = []
quantities = []
prices = []

# Take input for inventory
n = int(input("Enter number of items to manage: "))

for i in range(n):
    print(f"\nItem {i+1}")
    item = input("Enter item name: ")
    qty = int(input("Enter quantity: "))
    price = float(input("Enter price per unit: ₹"))
    
    items.append(item)
    quantities.append(qty)
    prices.append(price)

# Show inventory
print("\n--- Inventory Summary ---")
total_value = 0
for i in range(n):
    item_value = quantities[i] * prices[i]
    total_value += item_value
    print(f"{items[i]} - Qty: {quantities[i]}, Price: ₹{prices[i]}, Value: ₹{item_value:.2f}")

print(f"\nTotal Inventory Value: ₹{total_value:.2f}")

# Optional: Find out-of-stock items
print("\nOut-of-Stock Items:")
for i in range(n):
    if quantities[i] == 0:
        print(f"- {items[i]}")

Enter number of items to manage:  2

Item 1

Enter item name:  Maggi
Enter quantity:  5
Enter price per unit: ₹ 87

Item 2

Enter item name:  Pasta
Enter quantity:  50
Enter price per unit: ₹ 500

--- Inventory Summary ---
Maggi - Qty: 5, Price: ₹87.0, Value: ₹435.00
Pasta  - Qty: 50, Price: ₹500.0, Value: ₹25000.00

Total Inventory Value: ₹25435.00

Out-of-Stock Items:

6. Social Media Analysis 
Lists can analyze engagement metrics likes, comments, and shares.

In [ ]:
# Initialize empty lists
likes = []
comments = []
shares = []

# Input engagement data for 5 posts
for i in range(1, 6):
    print(f"\nPost {i}")
    l = int(input("Enter number of likes: "))
    c = int(input("Enter number of comments: "))
    s = int(input("Enter number of shares: "))
    
    likes.append(l)
    comments.append(c)
    shares.append(s)

# Calculate total and average
total_likes = sum(likes)
total_comments = sum(comments)
total_shares = sum(shares)

avg_likes = total_likes / 5
avg_comments = total_comments / 5
avg_shares = total_shares / 5

# Engagement score per post (likes + 2*comments + 3*shares)
engagement_scores = []
for i in range(5):
    score = likes[i] + 2 * comments[i] + 3 * shares[i]
    engagement_scores.append(score)

# Find the most engaging post
max_score = max(engagement_scores)
best_post = engagement_scores.index(max_score) + 1

# Display results
print("\n--- Social Media Engagement Summary ---")
print(f"Average Likes: {avg_likes:.1f}")
print(f"Average Comments: {avg_comments:.1f}")
print(f"Average Shares: {avg_shares:.1f}")
print(f"Most Engaging Post: Post {best_post} with a score of {max_score}")

Post 1

Enter number of likes:  357
Enter number of comments:  234
Enter number of shares:  45

Post 2

Enter number of likes:  785
Enter number of comments:  345
Enter number of shares:  45

Post 3