#  Tuples in Python

# Creating a Tuples

In [2]:
my_tuple = (1,2,3,4,5)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

# Mixed Datatypes

In [4]:
my_tuple = (5,"Ankit",10.7,8+9j)
print(my_tuple)
print(type(my_tuple))

(5, 'Ankit', 10.7, (8+9j))
<class 'tuple'>

# Empty Tuple

In [5]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

# Nested Tuples

In [7]:
x = ("data", [1,2,3], (4,5,6))
print(x)
print(type(x))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# Creating tuple with only one Item

In [8]:
var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

## Agar sirf ek item ka tuple use krna hai to Hume item ke baad comma (,) ka use krna prega nhi to Bina , ke Jis type ka item rhega whi type hoga hmysha EX. int, flot, string,

In [9]:
var1 = (5,)
print(var1)
print(type(var1))

(5,)
<class 'tuple'>

# Tuple Constructor

In [11]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

# Positive Indexing

In [13]:
a = (22,33,44,55,66,77,88,99)
print(a)
print(type(a))
print(a[5])

(22, 33, 44, 55, 66, 77, 88, 99)
<class 'tuple'>
77

In [15]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[8])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
Ankit

# Negative Indexing

In [16]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[-1])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
Tiwari

# Slicing

In [17]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[0:6])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
(22, 33, 44, 55, 66, 77)

In [18]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[:6])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
(22, 33, 44, 55, 66, 77)

In [19]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[:])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')

# Print With Gap One

In [20]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[::2])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
(22, 44, 66, 88, 'Ankit')

# Print with Gap Two

In [21]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[::3])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
(22, 55, 88, 'Tiwari')

# Reverse a Tuple

In [22]:
a = (22,33,44,55,66,77,88,99, "Ankit", "Tiwari")
print(a)
print(type(a))
print(a[::-1])

(22, 33, 44, 55, 66, 77, 88, 99, 'Ankit', 'Tiwari')
<class 'tuple'>
('Tiwari', 'Ankit', 99, 88, 77, 66, 55, 44, 33, 22)

# Assignment

In [23]:
T = (1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

# Dublicate

In [24]:
t = (1,2,3,5,123,45,24,2,4,3)
print(t)
print(type(t))

(1, 2, 3, 5, 123, 45, 24, 2, 4, 3)
<class 'tuple'>

## Waise to tuple me Items Add, Remove or change nhi kar skte hai kyun ki ye immutable hota hai lekin ek tarika se Ise problem ko solve kar skte hai. Phale tuple ko list me convert kijiay fir add remove or change kr ke use fir se tuple bna dijiay. Example Niche Dekhe

# ADD new element in list

In [35]:
a = (25,26,27,28,29)
print(type(a))

print("\nTuple ko list me change kiay\n") 
y = list(a)
print(type(y))
print(y)

print("\nlist me 30 add kaiy\n")
y.append(30)
print(y)

print("\nNew List ko Tuple me change kaiy\n")
a = tuple(y)
print(a)
print(type(a))

<class 'tuple'>

Tuple ko list me change kiay

<class 'list'>
[25, 26, 27, 28, 29]

list me 30 add kaiy

[25, 26, 27, 28, 29, 30]

New List ko Tuple me change kaiy

(25, 26, 27, 28, 29, 30)
<class 'tuple'>

## Remove a element in list

In [36]:
a = (25,26,27,28,29)
print(type(a))

print("\nTuple ko list me change kiay\n") 
y = list(a)
print(type(y))
print(y)

print("\nlist me 27 remove kaiy\n")
y.remove(27)
print(y)

print("\nNew List ko Tuple me change kaiy\n")
a = tuple(y)
print(a)
print(type(a))

<class 'tuple'>

Tuple ko list me change kiay

<class 'list'>
[25, 26, 27, 28, 29]

list me 27 remove kaiy

[25, 26, 28, 29]

New List ko Tuple me change kaiy

(25, 26, 28, 29)
<class 'tuple'>

# loop

In [37]:
thistuple =("a", "b", "c")
for x in thistuple:
    print(x)

a
b
c

# Join Two tuple

In [38]:
tuple1 = ("a","b", "c")
tuple2 = (1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply of Tuple

In [40]:
x = ("Mango", "Banana", "Python", "Data")
y = x*3
print(y)

('Mango', 'Banana', 'Python', 'Data', 'Mango', 'Banana', 'Python', 'Data', 'Mango', 'Banana', 'Python', 'Data')

# Assignment

In [41]:
T = (1,2,3,4,5,6,7,8,9)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)
9

## Write a program to take 5 input form user and store in a tuple

In [42]:
T = ()
i = 0
while i<5:
    num =int(input("Enter The value Places"))
    T = T + (num,)
    i = i+1
    print(T)

Enter The value Places 20

(20,)

Enter The value Places 25

(20, 25)

Enter The value Places 30

(20, 25, 30)

Enter The value Places 35

(20, 25, 30, 35)

Enter The value Places 40

(20, 25, 30, 35, 40)